# === Archivos pycache de todo el proyecto ===
**/__pycache__/

# === Python ===
*.py[cod]
*.pyc
__pycache__/

# === Entornos virtuales ===
venv/
env/

# === VSCode / VSCodium ===
.vscode/
.vscodium/

# === Archivos de sistema ===
.DS_Store
Thumbs.db

# === Archivos sensibles ===
*.log
*.env_
.env.*

# === Django ===
db.sqlite3
*.pot
*.mo

# === Migraciones compiladas ===
**/migrations/__pycache__/

# === Config local no versionada ===
aulatec/settings_local.py
