{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AulaTec{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <section class="login-page">
    <div class="login-left">
      <a href="{% url 'gestion_aulatec:home' %}">
        <img src="{% static 'img/aula_tec_logo.png' %}" alt="AulaTec">
      </a>
        <p class="description">
        Transformamos la educación con tecnología, innovación y pasión por enseñar.
      </p>
    </div>
    <div class="login-right">
      <form method="post" class="login-form">
        {% csrf_token %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn--primary full">Iniciar Sesión</button>
      </form>
      <div class="extra-links">
        <hr class="divider">
        <p><a href="{% url 'gestion_aulatec:home' %}">Volver al Inicio</a></p>
        <a href="{% url 'gestion_aulatec:usuario_create' %}"
                class="btn btn-primary">Crear Nuevo Usuario</a>
      </div>
    </div>
  </section>
</body>
</html>
